{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - Home Decor {% endblock %}

{% block content_wrapper %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>SHOP</h1>
                    <p class="lead">Home Decor</p>
                </div>
            </div>
        </div>

                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 bootcards-cards text-center">

                      <div class="panel panel-default bootcards-richtext">
                          <div class="panel-body">
                            <p class="lead">Hanging decors, wallpapers and coffee table. A good carpentry is a craft, skill and mastered through years of practise. </p>
                              <hr>
                              <p class="lead">Share:</p>
                                <div class="customsocial">
                                  <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
                                </div>
                                <br />
                                <p>
                                  Publish with us, send in you love letters that are related to our categories. We may or may not steal your work and put it on our site.
                                </p>

                          </div>
                        </div><!--end rich text card-->

                    </div><!--col-sm-12 ends-->

                  </div><!--row-->
                </div><!--container-->

      <div style="max-width:850px;margin:auto;padding:0 10px 10px;">
        <div id="demo1" class="flex-images">
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='garden'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733217/homeDecor/IMG_1274-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733215/homeDecor/IMG_1273-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733221/homeDecor/IMG_1277-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733216/homeDecor/IMG_1271-min.jpg"></g:link></div>
        </div>
      </div>

      <div class="container">
        <hr>
      </div>

      <div style="max-width:850px;margin:auto;padding:0 10px 10px">
        <div id="demo2" class="flex-images">
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733217/homeDecor/IMG_1272-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733215/homeDecor/IMG_1273-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733217/homeDecor/IMG_1275-min.jpg"></g:link></div>
          <div class="item" data-w="200" data-h="200"><g:link controller="shop" action='categorypage'><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1500733216/homeDecor/IMG_1278-min.jpg"></g:link></div>
        </div>
      </div>

    <br>

                 <!-- Flickity HTML init -->



                            <div class="container">
                              <div class="col-lg-12 text-center">
                                <h4>Our Pick Of The Month</h4>
                                <p class="lead">Curated By SendiriMade</p>
                              </div>
                            </div>

                            <!--4 listing-->
                            <div class="container">
                              <div class="row">
                              <div class="col-lg-12 hidden-sm hidden-xs">
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "/images/beach.jpg"%}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                   <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                        <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>

                                </div><!--col-lg-12-->
                              </div><!--row-->
                          </div><!--container-->
                          <!--end linsting-->

                          <!--2listings-->
                          <div class="container hidden-sm hidden-xs">
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                            </div>
                          </div><!--2 listings end-->

                              <!-- 4 listing-->
                          <div class="container hidden-sm hidden-xs">
                              <div class="row">
                              <div class="col-lg-12">
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                  <div class="panel panel-default bootcards-media">
                                  <img src="{% static "images/beach.jpg" %}" class="img-responsive">
                                  <div class="panel-footer text-center">
                                  <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                                    <a class="btn btn-primary" href="../shop/product.html">
                                          <i class="fa fa-chevron-circle-right"></i>
                                          View
                                        </a>
                                  </div>
                                </div>
                                </div>
                                </div><!--col-lg-12-->
                              </div><!--row-->
                          </div><!--end linsting-->

                            <div class="container hidden-lg hidden-md">
                       <div class="row">
                          <div class="col-lg-12">
                           <div class="panel panel-default bootcards-media">
                                  <!-- Flickity HTML init -->
                                <div class="navprofiled profiled-main js-flickity">
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="orange tree" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="submerged" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                </div>

                                <div class="navprofiled profiled-nav js-flickity text-center"
                                  data-flickity-options='{ "asNavFor": ".profiled-main", "contain": true, "pageDots": false }'>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                </div><!--flickity-->
                              <div class="panel-footer text-center">
                                <p>Ads Here</p>
                              </div>
                            </div>
                          </div><!--col-lg-12-->
                        </div><!--row-->
                      <!--listing gallery end-->
                     </div><!--container-->

                     <!-- advertisement -->
                    <div class="container">
                     <div class="panel panel-default bootcards-media">
                       <img src="http://res.cloudinary.com/bzzt/image/upload/v1496239045/JPEG_image-C034DFA3CC7C-1-min_y9g6e0.jpg" class="img-responsive" alt="Share" />
                     </div>
                   </div>
                   <!-- end advertisement -->

      <div class="container">
        <div class="col-lg-12 text-center">
          <h3 class="lead">You might also like.</h3>
        </div>
      </div>

      <div class="relatedgallery js-flickity"
        data-flickity-options='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true }'>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
      </div>





                     <script>
                       $('#demo1').flexImages({rowHeight: 200});
                       $('#demo2').flexImages({rowHeight: 200});
                    </script>

{% endblock %}