{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - Jewelry {% endblock %}

{% block content_wrapper %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>SHOP</h1>
                    <p class="lead">Jewelry.</p>
                </div>
            </div>
        </div>

                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 bootcards-cards text-center">

                      <div class="panel panel-default bootcards-richtext">
                          <div class="panel-body">
                            <p class="lead">Plenty to say about jewelry that is made for you. With the right color and carving of initial for the delicate hand-made touch. You will be the envy of your friends.</p>
                              <hr>
                              <p class="lead">Share:</p>
                                <div class="customsocial">
                                  <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
                                  <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
                                </div>
                                <br />
                                <p>
                                  Publish with us, send in you love letters that are related to our categories. We may or may not steal your work and put it on our site.
                                </p>

                          </div>
                        </div><!--end rich text card-->

                    </div><!--col-sm-12 ends-->

                  </div><!--row-->
                </div><!--container-->

    <div style="max-width:1000px;margin:auto;padding:0 10px 10px">
      <div id="demo1" class="flex-images">
        <div class="item panel panel-default bootcards-media" data-w="300" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237662/jewelry/JPEG_image-2A2376E49A8C-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="200" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237686/jewelry/JPEG_image-97791E3C8EEA-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="300" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237696/jewelry/JPEG_image-E8725B529CA7-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="200" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237702/jewelry/JPEG_image-F22464242A83-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="200" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237674/jewelry/JPEG_image-EAF100D00E19-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="300" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237677/jewelry/JPEG_image-9C9CCC6003C0-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="200" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237684/jewelry/JPEG_image-42866969CE8D-1-min.jpg"></div>
        <div class="item panel panel-default bootcards-media" data-w="300" data-h="200"><img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_200/v1501237665/jewelry/JPEG_image-35A2D7FAA3A0-1-min.jpg"></div>
      </div>
    </div>

    <br>

                 <!-- Flickity HTML init -->


                 <div class="container">
                   <div class="col-lg-12 text-center">
                     <h4>Our Pick Of The Month</h4>
                     <p class="lead">Curated By SendiriMade</p>
                   </div>
                 </div>

                 <!--4 listing-->
                 <div class="container">
                   <div class="row">
                   <div class="col-lg-12 hidden-sm hidden-xs">
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                        <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                             <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>

                     </div><!--col-lg-12-->
                   </div><!--row-->
               </div><!--container-->
               <!--end linsting-->

               <!--2listings-->
               <div class="container hidden-sm hidden-xs">
                 <div class="row">
                   <div class="col-lg-6 col-md-6 col-sm-6">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                 </div>
               </div><!--2 listings end-->

                   <!-- 4 listing-->
               <div class="container hidden-sm hidden-xs">
                   <div class="row">
                   <div class="col-lg-12">
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     <div class="col-lg-4 col-md-4">
                       <div class="panel panel-default bootcards-media">
                       <img src="../assets/images/beach.jpg" class="img-responsive">
                       <div class="panel-footer text-center">
                       <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                         <a class="btn btn-primary" href="../shop/product.html">
                               <i class="fa fa-chevron-circle-right"></i>
                               View
                             </a>
                       </div>
                     </div>
                     </div>
                     </div><!--col-lg-12-->
                   </div><!--row-->
               </div><!--end linsting-->

                            <div class="container hidden-lg hidden-md">
                       <div class="row">
                          <div class="col-lg-12">
                           <div class="panel panel-default bootcards-media">
                                  <!-- Flickity HTML init -->
                                <div class="navprofiled profiled-main js-flickity">
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="orange tree" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="submerged" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                </div>

                                <div class="navprofiled profiled-nav js-flickity text-center"
                                  data-flickity-options='{ "asNavFor": ".profiled-main", "contain": true, "pageDots": false }'>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                </div><!--flickity-->
                              <div class="panel-footer text-center">
                                <p>Ads Here</p>
                              </div>
                            </div>
                          </div><!--col-lg-12-->
                        </div><!--row-->
                      <!--listing gallery end-->
                     </div><!--container-->

                     <!-- advertisement -->
                    <div class="container">
                     <div class="panel panel-default bootcards-media">
                       <img src="http://res.cloudinary.com/bzzt/image/upload/v1496239045/JPEG_image-C034DFA3CC7C-1-min_y9g6e0.jpg" class="img-responsive" alt="Share" />
                     </div>
                   </div>
                   <!-- end advertisement -->

      <div class="container">
        <div class="col-lg-12 text-center">
          <h3 class="lead">You might also like.</h3>
        </div>
      </div>

      <div class="relatedgallery js-flickity"
        data-flickity-options='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true }'>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
      </div>



                     <script>
                       $('#demo1').flexImages({rowHeight: 200});
                    </script>

{% endblock %}