{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - On Sale !! {% endblock %}

{% block content_wrapper %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>On Sale</h1>
                    <p class="lead">Well, would you look at that! Everything is on sale!</p>
                </div>
            </div>
        </div>



          <!-- 9 listing-->
      <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default bootcards-media">
              <img src="../assets/images/beach.jpg" class="img-responsive">
              <div class="panel-footer text-center">
              <p>Lorem IpSum Test It Out<br>by John Doe<br>$19.90</p>
                <a class="btn btn-primary" href="../shop/product.html">
                      <i class="fa fa-chevron-circle-right"></i>
                      View
                    </a>
              </div>
            </div>
            </div>
          </div><!--row-->
      </div><!--end linsting-->

      <div class="container">
        <div class="row">
          <ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>
        </div>
      </div>

      <div class="container">
        <div class="row text-center">
          <ul class="pagination pagination-lg">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="col-lg-12 text-center">
        <h3 class="lead">"Maybe these are more to your liking master!"</h3>
        </div>
      </div>

      <div class="relatedgallery js-flickity"
        data-flickity-options='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": true }'>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
      </div>

{% endblock %}