{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - GiftIdeas {% endblock %}

{% block content_wrapper %}


      <div class="container">
        <div class="jumbotron">
          <h1>Gift Ideas</h1>
          <p>Sometimes to figure out what to give a person can be hard, hair pulling hard. SendiriMade provide ideas for you to browse through and drool over. Let's find a gift for the love ones.</p>
          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>


{% endblock %}