{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - Artisan Of The Month {% endblock %}

{% block content_wrapper %}
        	<div class="container">
        		<div class="col-lg-12 text-center">
        			<h1>Artisan Of The Month</h1>
        		</div>
        	</div>
        	<hr>
        	    <div class="container">
      <div class="row">
        <div class="col-lg-12 bootcards-cards">

          <div class="panel panel-default">
          <div class="panel-body">
                      <div class="row">
                            <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
                              <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive img-thumbnail">
                                <h2>Brand/ Name</h2>
                                <p>Kuala Lumpur, WP</p>
                                <ul class="list-inline ratings text-center" title="Ratings">
                                      <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                      <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                      <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                      <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                      <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                    </ul>
                                <p><strong>About: </strong> You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. </p>
                                <ul class="list-inline">
                                <li><i class="fa fa-facebook fa-2x"></i></li>
                                <li><i class="fa fa-github fa-2x"></i></li>
                                <li><i class="fa fa-twitter fa-2x"></i></li>
                                <li><i class="fa fa-pinterest fa-2x"></i></li>
                                <li><i class="fa fa-google-plus fa-2x"></i></li>
                                </ul>
                                <a class="btn btn-default" href="#"><i class="fa fa-envelope-o"></i> Message</a>
                                <a class="btn btn-default" href="#"><i class="fa fa-star"></i> Favourite</a>
                            </div><!--/col-->
                      </div><!--/row-->
                  </div><!--/panel-body-->
              </div><!--/panel-->
        </div>
      </div>
    </div>


      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h4>Artisan's Catalog</h4>
          </div>
        </div>
      </div>
      <div class="container">
                       <div class="row">
                          <div class="col-lg-12">
                           <div class="panel panel-default bootcards-media">
                                  <!-- Flickity HTML init -->
                                <div class="navprofiled profiled-main js-flickity" data-flickity-options='{ "imagesLoaded": true, "autoPlay": true}'>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="orange tree" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="submerged" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                  <div class="profiled-cell"><img src="http://dummyimage.com/400x400/0d12b5/fff" alt="cat nose" /></div>
                                </div>

                                <div class="navprofiled profiled-nav js-flickity text-center"
                                  data-flickity-options='{ "asNavFor": ".profiled-main", "contain": true, "pageDots": false, "prevNextButtons": false }'>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                  <div class="navprofiled-cell"><h3>Lawn Chair</h3><p class="lead">RM20</p></div>
                                </div><!--flickity-->
                              <div class="panel-footer text-center">
                                <p>Ads Here</p>
                              </div>
                            </div>
                          </div><!--col-lg-12-->
                        </div><!--row-->
                      <!--listing gallery end-->
                     </div>
                     <!-- end container-->

    <div class="panel panel-default bootcards-richtext">
      <div class="panel-body">
        <h3>Return Policy</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis pretium nisl. Etiam at vestibulum purus, sit amet blandit mi. Duis enim lectus, tempus nec varius sed, sollicitudin quis velit. Fusce quis sem porttitor, euismod ante vitae, ultricies erat.</p>
        <ul>
          <li>Duis cursus dui et turpis gravida sollicitudin.</li>
          <li>Donec eget mauris feugiat, euismod purus nec, feugiat neque.</li>
          <li>Nunc erat est, molestie eget magna in, consectetur euismod lorem.</li>
        </ul>
        <ol>
          <li>Sed luctus congue orci quis tempus.</li>
          <li>Praesent in viverra lorem.</li>
          <li>Suspendisse augue lacus, porta quis imperdiet at, posuere vel nulla.</li>
        </ol>
      </div>
    </div>

    <div class="panel panel-default bootcards-richtext bootcards-1 text-center">
      <div class="panel-body">
       <h4>Review</h4>
       <p>Disqus Here</p>
      </div>
    </div>

    <div class="container text-center">
      <div class="row vdivide">
      <div class="col-lg-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_300/v1501322691/promoImage/JPEG_image-EFFBA1E9F6AC-1-min.jpg" class="img-responsive" alt="Gift Ideas" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_300/v1501322695/promoImage/JPEG_image-480C6B7E0B07-1-min.jpg" class="img-responsive" alt="Best Of August" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_300/v1501322673/promoImage/JPEG_image-0FE956560D2A-1-min.jpg" class="img-responsive" alt="10 Best Artisan" />
        </div>
      </div>
      </div>
    </div>

{% endblock %}