{% extends 'oscar/layout.html' %}
{% load staticfiles %}

{% block title %}SendiriMade - Become An Artisan {% endblock %}

{% block content_wrapper %}


        	<div class="container">
        		<div class="col-lg-12 text-center">
        			<h1>Be A Maker</h1>
        			<p class="lead">Get Your Custom Product Listed Today</p>
        		</div>
        	</div>
        	<hr>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default bootcards">
                            <div class="panel-body">
                            <h3>Why Join Customkr?</h3>
                            <ul>
                                <li>Free Membership</li>
                                <p class="lead">Our membership is and will always be free.</p>
                                <li>Low Transaction Fee & Secure Payments</li>
                                <p class="lead">We only charge a 10% commission including transaction fee. We provide a secure online payment system.</p>
                                <li>Showcase Your Product</li>
                                <p class="lead">Show your produt to customers/ client using our platform.</p>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->



            <div class="container">

                    <div class="col-lg-12">
                       <div class="panel panel-default bootcards-richtext bootcards-1">
                          <div class="panel-body image-bg">
                            <h1>SIGN UP.</h1>
                            <p class="lead">You're just a few steps <br> to becoming an Artisan.</p>
                            <a href="artisansignup.html" class="btn btn-info"><i class="fa fa-edit"></i> Sign Up.</a>
                          </div>
                        </div>
                    </div><!--col-lg-12-->
            </div><!--container-->

            <!-- advertisement -->
          <div class="container">
            <div class="panel panel-default bootcards-media">
              <img src="http://res.cloudinary.com/bzzt/image/upload/c_fit,h_1000/v1485679772/IMG_1218_fdmuhj.jpg" class="img-responsive" alt="Share" />
            </div>
          </div>
            <!-- end advertisement -->

{% endblock %}